* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse; 
}

table, th, td {
    border: 3px double black; 
}    

th, td {
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

th {
    background-color: #f0f0f0; 
}

td {
    background-color: #fff;
}

thead th {
    background-color: #f0f0f0; 
    font-weight: bold;
}

tbody th {
    background-color: #f0f0f0; 
    font-weight: bold;
} 
